@model Producto


<h1>Registrar producto a comprar</h1>

<div asp-validation-summary="All"></div>
<form method="post">

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NombreComprador"></label>
        <input asp-for="NombreComprador" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CelularComprador"></label>
        <input asp-for="CelularComprador" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LugarCompra"></label>
        <input asp-for="LugarCompra" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Precio"></label>
        <input asp-for="Precio" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Foto"></label>
        <input asp-for="Foto" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Categoria"></label>
        <select asp-for="CategoriaId" asp-items="ViewBag.Categorias" class="form-control"></select>
    </div>

    <button class="btn btn-primary" asp-action="Add">Registrar</button>
</form>