@model List<Compra>


<h1>LISTA DE COMPRAS</h1>

<table class="table table-dark">
    <tr>
        <th>ID</th>
        <th>COMPRA</th>
        <th>NOMBRE DEL PRODUCTO</th>
        <th>FOTO</th>
        <th>DESCRIPCION</th>
        <th>PRECIO</th>
        <th>CELULAR</th>

        <th>LUGAR</th>
        <th>NOMBRECOMPRADOR</th>
        <th>CATEGORIA PRODUCTO</th>


    </tr>

    @foreach (var f in Model)
    {
        <tr>
            <td>@f.Id</td>
            <td>@f.NombreCompra</td>
            
           

        </tr>
    }


</table>


<a href="/Home/NuevaCompra" class="btn btn-dark">Añadir Compra</a>
