@model List<Usuario>


<h1>LISTA DE CONTACTOS</h1>

<table class="table table-dark">
    <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>celular</th>
        <th>lugar</th>


    </tr>

    @foreach (var f in Model)
    {
        <tr>
            <td>@f.id</td>
            <td>@f.Nombre</td>
            <td>@f.Celular</td>
            <td>@f.Lugar</td>

        </tr>
    }


</table>


<a href="/Home/NuevoContacto" class="btn btn-dark">Añadir contacto</a>