@model Usuario

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>


    <div class="container">Formulario de registro <div class=" text-center mt-5 ">
            <h1>Registro contacto</h1>
        </div>
        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">

                            <form method="post">
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">


                                            <div class="form-group">
                                                <label asp-for="Nombre"> </label>
                                                <input asp-for="Nombre" class="form-control" />
                                            </div>


                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label asp-for="Celular"> </label>
                                                <input asp-for="Celular" class="form-control" />
                                            </div>
                                        </div>

                                    </div>



                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Lugar"> </label>
                                                <input asp-for="Lugar" class="form-control" />

                                            </div>
                                        </div>



                                        <div class="col-md-12">
                                            <button class="btn btn-primary">Registrar CONTACTO</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- /.8 -->
            </div> <!-- /.row-->
        </div>
    </div>

</body>

</html>
